.product{
	background-color:white;
	border: 1px solid #ebebeb;
	margin:2px;
	width: 288px;
	height: 500px;
	border-radius:10px;
}

.product:hover{
	border:1px solid #FF8686;
}

#sidebar{
	background-color:white;
	border: 1px solid #ebebeb;
}

.listCategory{
	list-style-type: none;
}